body {
  background: url('http://placehold.it/1920x1080') no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.apoio-page {
  width: 360px;
  padding: 8% 0 0;
  margin-left:100px;
}

.mobile-topo {
  background: url('http://placehold.it/1920x1080') no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

  height: 150px;
  margin-top: -65px;
  display: none;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input[type="text"] {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #757575;
}

.form select {
  background: #f2f2f2;
  border: 0;
  width: 100%;
  height: 51px !important;
  color: #7c7c7c;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 15px;
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

.form select::-ms-expand {
    display: none !important;
}

.form .form-check {
  color: #7c7c7c;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-top: 15px;
}

.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}

.form .register-form {
  display: none;
}

@media only screen and (max-width: 900px) {
    body {
      overflow: auto;
      background: red;
    }
    .apoio-page {
        margin: 0 auto;
        width: 100%;
    }

    .mobile-topo {
      display: flex;
    }

    .form {
      max-width: 100%;
      box-shadow: none;
    }
}
